In [ ]:
Introduction to iterations in numpy:

In [1]:
import numpy as np

In [2]:
a=np.arange(11)**2       #---------> squares of numbers from 1 to 10
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [3]:
for i in a:
    print(i**(1/2))      #-------> square root of "a"

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [4]:
#Multi dimensional iterations
students=np.array([['akshara','ruvan','rekha'],[65,75,85],[80,90,100]])
students.ndim

2

In [5]:
for i in students:
    print('i=',i)

i= ['akshara' 'ruvan' 'rekha']
i= ['65' '75' '85']
i= ['80' '90' '100']

In [ ]:
req: Row wise spliting:

In [6]:
for x in students.flatten():
    print(x)

akshara
ruvan
rekha
65
75
85
80
90
100

In [ ]:
req: Coloumn wise splitting:

In [7]:
for y in students.flatten(order='F'):
    print(y)

akshara
65
80
ruvan
75
90
rekha
85
100

In [ ]:
req: Alternative approach to flatten.

In [8]:
x=np.arange(12).reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [9]:
for i in np.nditer(x):     #-------> row based splitting
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [10]:
for y in np.nditer(x,order='F'):    #---------> coloumn wise splitting
    print(y)

0
4
8
1
5
9
2
6
10
3
7
11